<!-- templates/layout.html -->
<html>
  <head>
    <title>seedot</title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style/main.css"/>
    <script type="text/javascript" src="/js/d3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Render template -->
      {{ yield }}
    </div>
    <footer>
      <h4>Made in Los Angeles</h4>
      <a href="http://github.com/raymondjacobson">github.com/raymondjacobson</p>
    </footer>
  </body>
</html>
